{% load static %}
<html>
  <head>
    <title>BeFit | Homepage</title>
    <link rel="stylesheet" href="{% static 'befitapp/mycss.css' %}" />
    <link
      href="https://fonts.googleapis.com/css?family=Concert+One&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x"
      crossorigin="anonymous"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
      crossorigin="anonymous"
    ></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
  </head>
  <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <body>
    {% for msg in messages %}
    <script>
      Swal.fire("{{ msg }}");
    </script>
    {% endfor %}
    <nav class="navbar fixed-top navbar-expand-lg navbar-light bg-white">
      <div class="container-fluid">
        <a class="navbar-brand" href="http://127.0.0.1:8000/">
          <img class="img1" src="https://i.ibb.co/wyFWhRM/logo.png" />
        </a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNavAltMarkup"
          aria-controls="navbarNavAltMarkup"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <ul class="navbar-nav">
            <a
              class="nav-link fs-5 nav-link-text"
              href="http://127.0.0.1:8000/Gainweight"
              >GAIN WEIGHT</a
            >
            <a
              class="nav-link fs-5 nav-link-text"
              href="http://127.0.0.1:8000/Looseweight"
              >LOOSE WEIGHT</a
            >
            <a
              class="nav-link fs-5 nav-link-text"
              href="http://127.0.0.1:8000/Fitness%20Calculators"
              >FITNESS CALCULATORS</a
            >

            <a
              class="nav-link fs-5 nav-link-text"
              href="http://127.0.0.1:8000/Nutrition%20Table"
              >NUTRITION FACTS</a
            >

            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle nav-link-text fs-5"
                id="navbarDropdownMenuLink"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                EXERCISES
              </a>

              <ul
                class="dropdown-menu"
                aria-labelledby="navbarDropdownMenuLink"
              >
                <li>
                  <a class="dropdown-item" href="http://127.0.0.1:8000/Yoga"
                    ><font class="items">YOGA </font></a
                  >
                </li>
                <li>
                  <a class="dropdown-item" href="http://127.0.0.1:8000/Cardio"
                    ><font class="items">CARDIO</font></a
                  >
                </li>
                <li>
                  <a class="dropdown-item" href="http://127.0.0.1:8000/HIIT"
                    ><font class="items">HIIT</font></a
                  >
                </li>
                <li>
                  <a
                    class="dropdown-item"
                    href="http://127.0.0.1:8000/Heavy%20Weight%20Training"
                    ><font class="items">WEIGHT TRAINING</font></a
                  >
                </li>
                <li>
                  <a class="dropdown-item" href="http://127.0.0.1:8000/Aerobics"
                    ><font class="items">AEROBICS</font></a
                  >
                </li>
              </ul>
            </li>
          </ul>
          {% if user.is_authenticated %}
          <ul class="navbar-nav ms-auto">
            <a
              class="nav-link fs-5 nav-link-text"
              href="http://127.0.0.1:8000/profile"
              >Hello, {{user.username}}</a
            >
            <a
              class="nav-link fs-5 nav-link-text"
              href="http://127.0.0.1:8000/Logout"
              >Logout</a
            >
          </ul>
          {% else %}
          <ul class="navbar-nav ms-auto">
            <a
              class="nav-link fs-5 nav-link-text"
              href="http://127.0.0.1:8000/Login%7CRegister"
              >LOGIN | REGISTER</a
            >
          </ul>
          {%endif%}
        </div>
      </div>
    </nav>
    <div class="area">
      <ul class="circles">
        <div class="spacing-low"></div>
        <div class="logspace"></div>

        <div class="bdy3">
          <table class="table table-hover table-dark">
            <thead>
              <tr>
                <th scope="col">&nbsp&nbsp&nbsp&nbspFood</th>
                <th scope="col">Serving</th>
                <th scope="col">Calories</th>
                <th scope="col">Carbs</th>
                <th scope="col">Total_Fats</th>
                <th scope="col">Saturated_Fat</th>
                <th scope="col">Trans_Fat</th>
                <th scope="col">Cholesterol</th>
                <th scope="col">Fiber</th>
                <th scope="col">Sugar</th>
                <th scope="col">Protien</th>
                <th scope="col">Calcium</th>
                <th scope="col">Iron</th>
              </tr>
            </thead>
            <tbody>
              {% for x in nutridata %}
              <tr>
                <td>{{x.Food}}</td>
                <td>{{x.Serving}}</td>
                <td>{{x.Calories}}</td>
                <td>{{x.Carbs}}</td>
                <td>{{x.Total_Fats}}</td>
                <td>{{x.Sat_fats}}</td>
                <td>{{x.Trans_Fat}}</td>
                <td>{{x.Chol}}</td>
                <td>{{x.Fiber}}</td>
                <td>{{x.Sugar}}</td>
                <td>{{x.Protien}}</td>
                <td>{{x.Calcium}}</td>
                <td>{{x.Iron}}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table><div class="spacing-low"></div>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
      </ul>
    </div> 
        </div>
                
  </body>
</html>
